.wrapper {
  min-height: 100vh;
}

.header {
  display: flex;
  margin: -20px auto;
  height: 10vh;
}
.main {
  margin-bottom: 20px;
  height: 90vh;
}
.footer {
  /* margin-bottom: -60px; */
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: darkslateblue;
}
